# Data Processing

## Importing Libraries

Let us start by importing the necessary libraries and the Diabetes dataset which has been downloaded from the link given above and saved to the present working directory.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data=pd.read_csv("dataset/train.csv")
data.head()

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Age,Tenure,Vacations taken,Designation,Average Hours worked per day,Employee satisfaction score,Mental Fatigue Score
0,fffe32003000360033003200,2008-09-30,Female,Service,No,52,18,8,2,3.0,3.8,0.16
1,fffe3700360033003500,2008-11-30,Male,Service,Yes,26,12,4,1,2.0,5.0,0.36
2,fffe31003300320037003900,2008-03-10,Female,Product,Yes,63,20,4,2,NaN,5.8,0.49
3,fffe32003400380032003900,2008-11-03,Male,Service,Yes,59,20,12,1,1.0,2.6,0.20
4,fffe31003900340031003600,2008-07-24,Female,Service,No,63,10,9,3,7.0,6.9,0.52

We have used .head() to see a glimpse about the data.


## Data Preprocessing

### Checking for missing values

Since we know missing values are being represented by 0, let us count the 0 values in each column.

In [3]:
data_cols = ['Average Hours worked per day','Employee satisfaction score', 'Mental Fatigue Score']
(data[data_cols] == 0).sum()

Average Hours worked per day      0
Employee satisfaction score     171
Mental Fatigue Score            385
dtype: int64

The count of 0 values in each column have been listed above. These numbers confirm that 0 are indeed, representing missing values. Let us try what happens when we try to find the count of null values in each column using .isnull().sum() which is the common method of finding missing values.

In [4]:
data.isnull().sum()

Employee ID                        0
Date of Joining                    0
Gender                             0
Company Type                       0
WFH Setup Available                0
Age                                0
Tenure                             0
Vacations taken                    0
Designation                        0
Average Hours worked per day    1381
Employee satisfaction score     2117
Mental Fatigue Score            1011
dtype: int64

It shows 0 null values for every column. This happens because null values in this case are not represented by the standard representation of 'NaN' or 'None'. Since, here null values are represented by 0, pandas is not able to identify any null values in the dataset. Let us now replace these 0 values by 'NaN' values.

In [5]:
from numpy import nan
data[data_cols]= data[data_cols].replace(0, nan)

Let us now check the null values again in our dataset.

In [6]:
data.isnull().sum()

Employee ID                        0
Date of Joining                    0
Gender                             0
Company Type                       0
WFH Setup Available                0
Age                                0
Tenure                             0
Vacations taken                    0
Designation                        0
Average Hours worked per day    1381
Employee satisfaction score     2288
Mental Fatigue Score            1396
dtype: int64

As we can see, null values are now being detected. All 0s have been converted to null values. To replace missing values in our dataset, let us see the underlying data distribution. A normally distributed feature can have missing values replaced by its mean. For a feature known to have outliers, median is a better assumption for missing value imputation. Let us look at the data distribution for the features with missing values in the dataset.

### Imputing the missing values by median

In [7]:
for col in data_cols:
    data[col].fillna(data[col].median(), inplace= True)

Check again for the presence of any missing values in the DataFrame.

In [8]:
data.isnull().sum()

Employee ID                     0
Date of Joining                 0
Gender                          0
Company Type                    0
WFH Setup Available             0
Age                             0
Tenure                          0
Vacations taken                 0
Designation                     0
Average Hours worked per day    0
Employee satisfaction score     0
Mental Fatigue Score            0
dtype: int64

In [9]:
company_type={
    'Service':0,
    'Product':1
}
data['Company Type']=data['Company Type'].map(company_type)

In [10]:
gender={
    'Male':0,
    'Female':1
}
data['Gender']=data['Gender'].map(gender)

In [11]:
WFHSetupAvailable={
    'Yes':1,
    'No':0
}
data['WFH Setup Available']=data['WFH Setup Available'].map(WFHSetupAvailable)

In [12]:
data=data.drop('Employee ID',axis=1)
data=data.drop('Date of Joining',axis=1)

In [13]:
data.dtypes

Gender                            int64
Company Type                      int64
WFH Setup Available               int64
Age                               int64
Tenure                            int64
Vacations taken                   int64
Designation                       int64
Average Hours worked per day    float64
Employee satisfaction score     float64
Mental Fatigue Score            float64
dtype: object

In [14]:
data.head(10)

,Gender,Company Type,WFH Setup Available,Age,Tenure,Vacations taken,Designation,Average Hours worked per day,Employee satisfaction score,Mental Fatigue Score
0,1,0,0,52,18,8,2,3.0,3.8,0.16
1,0,0,1,26,12,4,1,2.0,5.0,0.36
2,1,1,1,63,20,4,2,4.0,5.8,0.49
3,0,0,1,59,20,12,1,1.0,2.6,0.20
4,1,0,0,63,10,9,3,7.0,6.9,0.52
5,0,1,1,44,8,10,2,4.0,3.6,0.29
6,1,0,0,62,16,11,3,6.0,7.9,0.62
7,1,0,1,31,16,6,2,4.0,4.4,0.33
8,1,0,0,23,15,9,3,6.0,5.9,0.56
9,1,1,0,27,1,2,3,6.0,5.9,0.67

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaled_data = scaler.fit_transform(data)

In [16]:
scaled_data

array([[1.        , 0.        , 0.        , ..., 0.22222222, 0.37373737,
        0.15151515],
       [0.        , 0.        , 1.        , ..., 0.11111111, 0.49494949,
        0.35353535],
       [1.        , 1.        , 1.        , ..., 0.33333333, 0.57575758,
        0.48484848],
       ...,
       [0.        , 0.        , 1.        , ..., 0.66666667, 0.58585859,
        0.71717172],
       [1.        , 0.        , 0.        , ..., 0.44444444, 0.58585859,
        0.51515152],
       [0.        , 1.        , 0.        , ..., 0.55555556, 0.77777778,
        0.60606061]])

In [17]:
data.to_csv('cleandata/median_norma.csv',index=False)